/* Variables */
:root {
  --spotify-green: #1dbc55;
  --login-hover: #32cd32;
  --spotify-black: #191414;
  --list-header: #ddd9d9;
  --hover-text: #beb5b3;
}

/* ArtistPage.js */

.ArtistPage {
  display: flex;
  flex-direction: row;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Formatting the main page outside of the sidebar */

.ArtistBody {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: white;
  height: 100vh;
  width: 85%;
  background: rgb(14, 69, 93);
  background: linear-gradient(
    0deg,
    rgba(14, 69, 93, 1) 0%,
    rgba(25, 20, 20, 1) 100%
  );
  overflow: auto;
}

/* Used to put player at bottom of screen */

/* .Body {
  margin-bottom: auto;
} */

.Player {
  position: fixed;
  bottom: 0;
  width: 85%;
}

/*---Sidebar.js---*/

.sidenav {
  width: 15%;
  background-color: var(--spotify-black);
  padding: 0 30px;
  padding-top: 50px;
}

.ListHeader {
  color: white;
  padding-bottom: 30px;
}

#sidebar-list {
  padding-left: 0;
  list-style-type: none;
}

#sidebar-link {
  color: #eaecef;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

#sidebar-link:hover {
  color: var(--spotify-green);
}

/* ArtistHeader.js */

.ArtistHeader {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ArtistImage {
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
}

.ArtistName {
  font-weight: bold;
}

.ImageDiv {
  padding-left: 50px;
}

.NameDiv {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ArtistAlbums.js */

.ArtistAlbums {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ArtistTopTracks {
  width: 50%;
}

.Albums {
  display: flex;
  flex-direction: column;
}

.AlbumList {
  padding-left: 15px;
}

.AlbumTitle {
  padding-left: 15px;
}

.AlbumHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.Divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.AlbumImage {
  max-width: 120px;
  max-height: 120px;
}

.ExpandIcon {
  transition: all 2 linear;
}

.ExpandIcon:hover {
  cursor: pointer;
  color: var(--hover-text);
}

.Rotate {
  transform: rotate(90deg);
}

.SongListHidden {
  display: none;
}

.SongListShown {
  display: flex;
  flex-direction: column;
}

.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AlbumTrack {
  padding: 5px;
}

.AlbumTrack:hover {
  cursor: pointer;
  color: var(--hover-text);
}

.TopTrackName {
  margin-left: 15px;
}

.TopTrack {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.TopTrack:hover {
  cursor: pointer;
}

.TopTrack:hover h2 {
  color: var(--hover-text);
}
