:root {
  --spotify-green: #1dbc55;
  --login-hover: #32cd32;
  --spotify-black: #191414;
  --list-header: #ddd9d9;
}

#navbar {
  background-color: var(--spotify-black);
  padding-left: 30px;
  padding-right: 30px;
}

#spoofy-link {
  color: white;
}
