:root {
  --spotify-green: #1dbc55;
  --login-hover: #32cd32;
  --spotify-black: #191414;
  --list-header: #ddd9d9;
  --hover-text: #beb5b3;
}

.DashBody {
  padding-top: 50px;
  color: white;
  height: 100vh;
  background: rgb(14, 69, 93);
  background: linear-gradient(
    0deg,
    rgba(14, 69, 93, 1) 0%,
    rgba(25, 20, 20, 1) 100%
  );
}

#navbar {
  background-color: var(--spotify-black);
  padding-left: 30px;
  padding-right: 30px;
}

#spoofy-link {
  color: white;
  background-color: var(--spotify-black);
  border: none;
}

#sidebar-list {
  padding-left: 0;
}

#sidebar-link {
  text-decoration: none;
  color: white;
}

#spoofy-link:hover {
  color: var(--spotify-green);
}

.DashNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavbarStart {
}

.NavbarEnd {
  display: flex;
  flex-direction: row;
}

.NavbarEnd > button {
  background-color: var(--spotify-black);
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 2rem;
  border: none;
}

.NavbarEnd > button:hover {
  color: var(--spotify-green);
}

.DashTime {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.TimeButtons > button {
  padding: 10px;
  margin-right: 20px;
  background: none;
  font-weight: bold;
  color: white;
  border: none;
}

.TimeButtons > button:hover {
  color: var(--hover-text);
  /* border-bottom: 2px solid var(--spotify-green); */
}

#active {
  border-bottom: 2px solid var(--spotify-green);
}
