/* Variables */
:root {
  --spotify-green: #1dbc55;
  --login-hover: #32cd32;
  --spotify-black: #191414;
  --list-header: #ddd9d9;
  --hover-text: #beb5b3;
}

/*---Dashboard.js---*/

/* Page as a whole */

.DashPage {
  display: flex;
  flex-direction: row;
}

/* Formatting the main page outside of the sidebar */

.DashBody {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: white;
  width: 85%;
  background: rgb(14, 69, 93);
  background: linear-gradient(
    0deg,
    rgba(14, 69, 93, 1) 0%,
    rgba(25, 20, 20, 1) 100%
  );
  background-attachment: fixed;
}

.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Used to put player at bottom of screen */

.Body {
  margin-bottom: auto;
}

/*---Sidebar.js---*/

.sidenav {
  width: 15%;
  background-color: var(--login-hover);
  padding: 0 30px;
  padding-top: 50px;
}

.ListHeader {
  color: white;
  padding-bottom: 30px;
}

#sidebar-list {
  padding-left: 0;
  list-style-type: none;
}

#sidebar-link {
  color: #eaecef;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

#sidebar-link-active {
  color: var(--spotify-green);
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

#sidebar-link:hover {
  color: var(--spotify-green);
}

/* ---Time Buttons--- */

.DashTime {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
}

.TimeButtons > button {
  padding: 10px;
  margin-right: 20px;
  background: none;
  font-weight: bold;
  color: white;
  border: none;
}

.TimeButtons > button:hover {
  color: var(--hover-text);
}

#active {
  border-bottom: 2px solid var(--spotify-green);
}

/* ---Artists/Tracks Rows--- */

/* Scroll Buttons */
.ArrowDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scrollBtn:hover {
  cursor: pointer;
  color: var(--spotify-green);
}

.TopArtists {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 50px;
}

.TopArtistsTitle {
  padding-left: 20px;
}

.TopArtistsRow {
  display: flex;
  flex-direction: row;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 95%;
  scroll-behavior: smooth;
}

.TopArtistsRow::-webkit-scrollbar {
  display: none;
}

.ArtistCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  background: none;
  border: none;
}

.ArtistCard:hover {
  border-bottom: 1px solid var(--list-header);
}

#top-artists-row {
  list-style-type: none;
  padding-left: 0;
}

#artist-link {
  text-decoration: none;
}

#artist-image {
  width: 200px;
  height: 200px;
}

#artist-name {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

#artist-followers {
  font-size: 16px;
  padding-top: 10px;
}

.TopTracks {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 50px;
}

.TopTracksTitle {
  padding-left: 20px;
}

.TopTracksRow {
  display: flex;
  flex-direction: row;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  max-width: 95%;
}

.TopTracksRow::-webkit-scrollbar {
  display: none;
}

.TrackCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  background: none;
  border: none;
}

.TrackCard:hover {
  border-bottom: 1px solid var(--list-header);
}

#top-tracks-row {
  list-style-type: none;
  padding-left: 0;
}

#track-name {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

#track-artist {
  font-size: 16px;
  padding-top: 10px;
}

#album-image {
  width: 200px;
  height: 200px;
}

/* TopArtistTable.js */

.TopTable {
  padding-left: 50px;
  padding-right: 50px;
}

.Table {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--spotify-black);
}
