/* Variables */
:root {
  --spotify-green: #1dbc55;
  --login-hover: #32cd32;
  --spotify-black: #191414;
  --list-header: #ddd9d9;
  --hover-text: #beb5b3;
  --player-color: #1c1c1c;
}

/* RecentTracks.js */

.RecentTracks {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 50px;
}

.RecentTracksTitle {
  padding-left: 20px;
}

.RecentTracksRow {
  display: flex;
  flex-direction: row;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  max-width: 95%;
}

.RecentTracksRow::-webkit-scrollbar {
  display: none;
}

.TrackCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  background: none;
  border: none;
}

.TrackCard:hover {
  border-bottom: 1px solid var(--list-header);
}

#recent-tracks-row {
  list-style-type: none;
  padding-left: 0;
}

#track-name {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

#track-artist {
  font-size: 16px;
  padding-top: 10px;
}

#album-image {
  width: 200px;
  height: 200px;
}

/* Scroll Buttons */
.ArrowDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.scrollBtn:hover {
  cursor: pointer;
  color: var(--spotify-green);
}
