/* Variables */
:root {
  --spotify-green: #1dbc55;
  --login-hover: #32cd32;
  --spotify-black: #191414;
  --list-header: #ddd9d9;
  --hover-text: #beb5b3;
  --player-color: #1c1c1c;
}

/* TopArtistTable.js */

.TopTable {
  padding-left: 50px;
  padding-right: 50px;
}

.Table {
  width: 100%;
}

.TrackTable:hover {
  cursor: pointer;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--spotify-black);
}
